
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}
h1{
  padding: 1rem 2.2rem;
  background: #820202;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 500;
}
form{
  display: flex;
  margin: 5rem 10rem;
  flex-direction: column;
  gap: 1rem;
}
input{
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  border: 2px solid #820202;
  outline: none;
}
input::placeholder{  
  color: #000;
}
input[type='text']{   
  text-transform: capitalize;
}
input[type='file']{
  border: none;
}
input[type='submit']{
  width: 8rem;
  background: #820202;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.pdfinfo{
  display: flex;  
  gap: 3rem;
}   
.pdf {
  display: flex; 
  margin: 6rem 10rem;  
  flex-direction: column;
  gap: 1.5rem;
}
.pdf h3{ 
  font-size: 2rem;
  color: #000000;
  font-weight: 500;
}
.pdfimages{
  margin: -2rem 10rem;  
}
.pdfimages h3{
  font-size: 1.5rem;
  color: #000000;
  font-weight:  500
}